@font-face {
  font-family: "Lex";
  src: url("fonts/Lexend-Regular.ttf");
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.allow-mouse {
  pointer-events: auto;
}

.image-container {
  position: relative;
  width: absolute;
  height: 100%; /* full viewport height */
  line-height: 0;
  padding: 0;
  aspect-ratio: 16 / 9; /* adjust to your image’s aspect ratio */
  margin: 0 auto;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.responsive-img {
  display: block; /* removes inline gap */
  width: 100%; /* responsive width */
  height: auto; /* maintains aspect ratio */
  object-fit: cover;
  margin: 0;
  padding: 0;
}

.taste-size {
  width: 10%; /* Unique width, different from default responsive images */
  height: auto;
}

.info-text {
  position: absolute;
  top: 10%; /* move where you want it */
  left: 25%;
  right: 22%;
  color: #ffffff; /* change to white if image is dark */
  z-index: 2; /* ensures it is on top of the image */
  font-family: "Lex";
  font-size: clamp(0.1rem, 1.5vw, 1.5rem); /* responsive font size */
  line-height: 1.4;
  padding: 4rem;
}

.info-text ul,
.info-text ol {
  margin: 0.5em 0.5 0.5em 0.5em; /* responsive indentation */
  padding: 0.5;
  font-size: clamp(0.9rem, 1.8vw, 1.2rem); /* scales with screen */
  line-height: 1.4;
}

.info-text li {
  margin-bottom: 0.5em;
  padding-left: 0.5em;
}

/* Optional: Custom bullet style */
.info-text ul {
  list-style-type: square; /* circle, square, or none */
}

.info-text h1,
.info-text p {
  margin: 0 0 0.5em;
}


